<ul class="social-links">
    <li>
        <a href="https://github.com/mhahmadi" target="_blank" class="fa-stack">
            <i class="fa fa-github fa-2x"></i>
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/pub/mohamad-ahmadi/35/6b2/2b3" target="_blank" class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
        </a>
    </li>
    <li>
        <a href="http://codepen.io/mhahmadi/" target="_blank" class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-codepen fa-stack-1x fa-inverse"></i>
        </a>
    </li>
    <li>
        <a href="https://www.facebook.com/moh.ahmadi" target="_blank" class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </a>
    </li>
</ul>