body {
  position: relative;
}
.resume {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;

  .abstract-block {
    margin: 0 0 2rem 0;
  }
  .header-block {
    @extend .abstract-block;
    text-align: center;
  }
  .content-block {
    @extend .abstract-block;
    &:last-child {
      margin: 0 0 800px 0;
    }
  }

  .clearfix:after {
    content: " ";
    clear: both;
  }
  .content-col {
    float: left;
    width: 75%;
  }
  .nav-col {
    float: left;
    width: 25%;
  }
  ul.nav {
    margin-left: 25px;

    &.affix {
      position: fixed;
      top: 100px;
    }

    li {
      list-style: none;
      margin: 0;

      a {
        font-size: 13px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 5px 0 5px 20px;
        outline: 0;

        &:hover, &:focus {
          border-left: 1px solid #95A5A6;
          padding-left: 19px;
          color: #95A5A6;
        }
      }

      &.active {
        a {
          font-weight: 700;
          border-left: 2px solid #34495E;
          padding-left: 18px;
          color: #34495E;
        }
      }
    }
  }

  .heading {
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
  }
  h1 {
    @extend .heading;
    font-size: 4rem;
  }
  h2 {
    @extend .heading;
    font-size: 3rem;
  }

  hr {
    margin: 1rem 0;
    border-color: #666;
  }

  .item-type {
    color: #888;
  }
  .item-meta {
    font-size: .9em;
    color: #888;
  }
  .item-desc {
    font-size: .9em;
  }

  ul {
    margin:0;
    padding:0;

    li {
      list-style: square;
      margin: 0 0 0 1.7rem;

      &.no-list-style {
        list-style: none;
        margin: 0 0 1rem 0;
      }

      li {
        font-size: .9em;
        list-style: circle;
        margin: 0 0 0 3.4rem;
      }
    }
  }

  @media only screen and (max-width: 900px) {
    font-size: 0.95em;
    line-height: 1.65em;

    .content-col {
      width: 100%;
    }
    .nav-col {
      display: none;
    }

    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 2rem;
    }

    .header-block .item-type {
      display: none;
    }

    .content-block ul li.no-list-style {
      list-style: square;
      margin: 0 0 0 1.7rem;
    }
  }
}
